<div class="content-new">
  <div class="content-2">
    <diV class="card-list">
      <kendo-card width="500px">
        <kendo-card-header class="k-hstack">
          <div>
            <h1 kendoCardTitle>Action handling</h1>
          </div>
        </kendo-card-header>
        <kendo-card-body class="card-body">
          <div class="card-cell">
            <h1 kendoCardTitle>Create Students</h1>
            <button
              class="card-button"
              [svgIcon]="plusIcon"
              title="Create Student"
              kendoButton
              (click)="onAdd()"
            ></button>
          </div>
          <div class="card-cell">
            <h1 kendoCardTitle>Refresh</h1>
            <button
              class="card-button"
              title="Refresh"
              [svgIcon]="arrowRotateCwIcon"
              kendoButton
              (click)="refresh()"
            ></button>
          </div>
        </kendo-card-body>
      </kendo-card>

      <kendo-card width="500px">
        <kendo-card-header class="k-hstack">
          <div>
            <h1 kendoCardTitle>File handling</h1>
          </div>
        </kendo-card-header>
        <kendo-card-body class="card-body">
          <div class="card-cell">
            <h1 kendoCardTitle>Upload Excel</h1>
            <div class="custom-upload">
              <input
                class="card-button"
                type="file"
                id="fileInput"
                (change)="onUpload($event)"
                hidden
              />
              <label for="fileInput" class="upload-btn">Select files...</label>
              <div class="upload-list" *ngIf="selectedFile">
                <span class="file-icon">📄</span>
                <span class="file-name">{{ selectedFile.name }}</span>
                <span class="file-error" *ngIf="uploadError"
                  >File failed to upload.</span
                >
                <button
                  class="retry-btn"
                  *ngIf="uploadError"
                  (click)="retryUpload()"
                >
                  ↻
                </button>
                <button class="delete-btn" (click)="removeFile()">✖</button>
              </div>
            </div>
          </div>

          <div class="card-cell">
            <h1 kendoCardTitle>Download Excel</h1>
            <button
              class="card-button"
              title="Download Excel"
              [svgIcon]="downloadIcon"
              kendoButton
              (click)="downloadFile()"
            ></button>
          </div>
        </kendo-card-body>
      </kendo-card>
    </diV>

    <kendo-drawer-content class="custom-content">
      <kendo-grid
        class="custom-content-column"
        #grid
        [data]="data | async"
        [loading]="loading"
        [height]="400"
        (scrollBottom)="onScrollBottom()"
        (edit)="editHandler($event)"
        (remove)="removeHandler($event)"
        (add)="addHandler()"
      >
        <kendo-grid-column
          field="fname"
          title="First Name"
          [width]="100"
        ></kendo-grid-column>
        <kendo-grid-column
          field="lname"
          title="Last Name"
          [width]="100"
        ></kendo-grid-column>
        <kendo-grid-column
          field="email"
          title="Email"
          [width]="150"
        ></kendo-grid-column>
        <kendo-grid-column field="dob" title="Date of Birth" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.dob | date : "dd/MM/yyyy" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="age"
          title="Age"
          [width]="50"
        ></kendo-grid-column>
        <kendo-grid-command-column
          title="Actions"
          [width]="150"
          styles="card-list"
        >
          <ng-template kendoGridLoadingTemplate>
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Delete</button>
            <!-- <div class="k-loading-color"></div>
            <div class="loading-container">
              <kendo-loader
                type="converging-spinner"
                size="large"
              ></kendo-loader>
            </div> -->
          </ng-template>
          <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Delete</button>
          </ng-template>
        </kendo-grid-command-column>

        <ng-template kendoGridLoadingTemplate>
          <div class="k-loading-color"></div>
          <div class="loading-container">
            <kendo-loader
              type="converging-spinner"
              size="medium"
            ></kendo-loader>
          </div>
        </ng-template>
      </kendo-grid>
      <kendo-dialog
        title="Please confirm"
        (close)="close('cancel')"
        [minWidth]="250"
        *ngIf="opened"
        [width]="450"
      >
        <p style="margin: 30px; text-align: center">
          Are you sure you want to Delete?
        </p>
        <kendo-dialog-actions>
          <button kendoButton (click)="close('no')">No</button>
          <button kendoButton (click)="close('yes')" themeColor="primary">
            Yes
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
      <app-student-view-edit-modal
        [model]="editDataItem"
        [isNew]="isNew"
        (save)="saveHandler($event)"
        (cancel)="cancelHandler()"
      >
      </app-student-view-edit-modal>
      <app-filedownload
        [isNew]="isNewFile"
        (save)="saveFileHandler($event)"
        (cancel)="cancelFileHandler()"
      >
      </app-filedownload>
    </kendo-drawer-content>
  </div>
</div>
