<kendo-dialog  class="custom-dialog" *ngIf="active" [width]="300" [height]="250" (close)="closeForm()">
    <kendo-dialog-titlebar>
      {{ isNew ? "Add new Course" : "Edit Course" }}
    </kendo-dialog-titlebar>
  
    <form novalidate class="k-form k-form-md" [formGroup]="editForm">
      <kendo-formfield>
        <kendo-label [for]="name" text="Course Name" labelCssClass="k-form-label"></kendo-label>
        <kendo-textbox #name formControlName="name" required></kendo-textbox>
        <kendo-formhint>Type Course name</kendo-formhint>
        <kendo-formerror>Error: Course name is required</kendo-formerror>
      </kendo-formfield>
    </form>
  
    <kendo-dialog-actions layout="start">
      <button kendoButton themeColor="primary" [svgIcon]="saveIcon" [disabled]="!editForm.valid" (click)="onSave($event)">
        Save
      </button>
      <button kendoButton [svgIcon]="cancelIcon" (click)="onCancel($event)">
        Cancel
      </button>
    </kendo-dialog-actions>
  </kendo-dialog>