<kendo-dialog
  class="custom-dialog"
  *ngIf="active"
  [width]="300"
  [height]="450"
  (close)="closeForm()"
>
  <kendo-dialog-titlebar>
    {{ isNew ? "Add new Student" : "Edit Student" }}
  </kendo-dialog-titlebar>

  <form novalidate class="k-form k-form-md" [formGroup]="editForm">
    <kendo-formfield>
      <kendo-label
        [for]="Dob"
        text="Date of Birth"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-dateinput
        #Dob
        [disabled]="false"
        (valueChange)="onChange($event)"
        [value]="dateDB"
        formControlName="dob"
        required
      >
      </kendo-dateinput>
      <kendo-formhint>Choose a date for Dob</kendo-formhint>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label
        [for]="Email"
        text="Email"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-textbox #Email formControlName="email" required></kendo-textbox>
      <kendo-formhint>Type Email</kendo-formhint>
      <kendo-formerror *ngIf="editForm.get('email')?.hasError('required')">
        Error: Email is required
      </kendo-formerror>
      <kendo-formerror *ngIf="editForm.get('email')?.hasError('email')">
        Error: Invalid email format
      </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label
        [for]="fname"
        text="First Name"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-textbox #fname formControlName="fname" required></kendo-textbox>
      <kendo-formhint>Type first name</kendo-formhint>
      <kendo-formerror>Error: first name is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label
        [for]="lname"
        text="Last Name"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-textbox #lname formControlName="lname" required></kendo-textbox>
      <kendo-formhint>Type last name</kendo-formhint>
      <kendo-formerror>Error: last name is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="Course" labelCssClass="k-form-label"></kendo-label>
      <kendo-dropdownlist
        #courseID
        [data]="courses"
        textField="name"
        (valueChange)="onChangeCourse($event)"
        valueField="id"
        formControlName="courseID"
        [valuePrimitive]="true"
        required
      >
      </kendo-dropdownlist>
      <kendo-formhint>Select a course</kendo-formhint>
    </kendo-formfield>
  </form>

  <kendo-dialog-actions layout="start">
    <button
      kendoButton
      themeColor="primary"
      [svgIcon]="saveIcon"
      [disabled]="!editForm.valid"
      (click)="onSave($event)"
    >
      Save
    </button>
    <button kendoButton [svgIcon]="cancelIcon" (click)="onCancel($event)">
      Cancel
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
