<div class="content-new">
  <div class="content-2">
    <diV class="card-list">
      <kendo-card width="460px">
        <kendo-card-header class="k-hstack">
          <div>
            <h1 kendoCardTitle>Action handling</h1>
          </div>
        </kendo-card-header>
        <kendo-card-body class="card-body">
          <div class="card-cell">
            <h1 kendoCardTitle>Create Courses</h1>
            <button
              class="card-button"
              [svgIcon]="plusIcon"
              title="Create Course"
              kendoButton
              (click)="onAdd()"
            ></button>
          </div>
          <div class="card-cell">
            <h1 kendoCardTitle>Refresh</h1>
            <button
              class="card-button"
              title="Refresh"
              [svgIcon]="arrowRotateCwIcon"
              kendoButton
              (click)="loadMore()"
            ></button>
          </div>
        </kendo-card-body>
      </kendo-card>
    </diV>

    <kendo-drawer-content class="custom-content">
      <kendo-grid
        class="custom-content-column"
        #grid
        [data]="data | async"
        [loading]="loading"
        [height]="400"
        (scrollBottom)="onScrollBottom()"
        (edit)="editHandler($event)"
        (add)="addHandler()"
      >
        <kendo-grid-column
          field="name"
          title="Course Name"
          [width]="150"
        ></kendo-grid-column>
        <kendo-grid-column
          field="code"
          title="Course Code"
          [width]="150"
        ></kendo-grid-column>
        <kendo-grid-command-column title="Actions" [width]="90">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoButton (click)="viewHandler(dataItem)">View</button>
          </ng-template>
        </kendo-grid-command-column>
        >
      </kendo-grid>
      <app-course-student
        [model]="editStudentItem"
        [isNew]="isNew"
        (cancel)="cancelStudentHandler()"
      >
      </app-course-student>
      <app-manage-courses
        [model]="editDataItem"
        [isNew]="isNew"
        (save)="saveHandler($event)"
        (cancel)="cancelHandler()"
      >
      </app-manage-courses>
    </kendo-drawer-content>
  </div>
</div>
